@import url("https://www.font.im/");



body
{
      margin:0px;
      padding:0px;
      background-color:#E7EAEB;
      font-family:"微软雅黑","黑体","宋体";
      font-size:12px;
      height:36px;
}


.carousel img{
  width:100%;
  height:100%
}



figure{
  position:relative;
  width:100%;
  height:60%;
  margin: :0;
}
#fixed{
  background-image: url('img/背景3.gif');
  height:900px;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
}



footer{
  background-color: #696969;
  color:#FFFFFF;
  font-family: "微软雅黑","黑体","宋体";
}
